{% extends "template.twig" %}
{% block title %}Silex | País | Cadastro{% endblock %}
{% block content %}

  <form class="form" id="tipocontato" method="post" action="/ApiRest/pais/add">
    <p>Preencha os dados com atenção.</p>

    <input type="hidden" class="form-control" id="idtipocontato" name="idtipocontato">

    <div class="form-group">
      <label class="">Pais</label>
      <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Descricao">
    </div>
    <div class="form-group">
      <label class="">Nascionalidade</label>
      <input type="text" class="form-control" id="nascionalidade" name="nascionalidade" placeholder="Nascionalidade">
    </div>

    {#<div class="hr-line-dashed"></div>#}
    <div class="form-group">
      <div class="">
        <button class="btn btn-primary" type="submit" id="salvar" name="salvar">Salvar</button>
      </div>
    </div>
  </form>

{% endblock %}